<template>
  <div>
    <div>{{statusMsg}}</div>
    <div v-if="isConnected === false">
      <button v-on:click="connect()"> Connect </button>
    </div>
    <div v-else>
      <button :disabled="disabled" v-on:click="disconnect()"> Disconnect </button>
    </div>

   </div>
</template>

<script>
export default {
  name: "ConnectionHandler.vue",
  data: function () {
    return {
      isConnected: false,
      connection: null,
      disabled: false
    }
  },
  methods: {
    connect: function () {
      this.disabled = true
      // this.connection = new WebSocket(`ws://${location.hostname}:8000/ws/`)
      // this.connection = new WebSocket(`ws://10.0.0.1:8765`)
      // this.heartbeatConn = new WebSocket(`ws://192.168.1.131:8766`)
      const url = `ws://${location.hostname}:8000/ws/`;
      console.log(`Connecting to: ${url}`)
      this.commandConn = new WebSocket(url)
      // this.commandConn = new WebSocket(`ws://192.168.1.241:8000/ws/`)
      // this.commandConn = new WebSocket(`ws://10.0.0.1:8000/ws/`)
      console.log(this.commandConn.readyState)

      this.commandConn.onmessage = e => {
        this.$emit('commandPayload', JSON.parse(e.data))
      }

      // this.heartbeatConn.onmessage = e => {
      //   this.$emit('heartbeatUpdate', JSON.parse(e.data))
      // }

      // this.connection.onmessage = function(event){
      //
      //   console.log(event)
      //   this.$emit('serverPayload', event)
      // }
    },
    disconnect: function () {
      this.disabled = true
      this.commandConn.close()
    },
    updateStatus: function () {
      if (typeof (this.commandConn) === 'undefined' || this.commandConn === null) {
        this.isConnected = false;
        this.statusMsg = ''
        this.disabled = false
        return
      }
      switch (this.commandConn.readyState) {
        case 0:
          this.isConnected = false;
          this.statusMsg = 'Connecting ...'
          break;
        case 1:
          this.isConnected = true
          this.statusMsg = ''
          this.disabled = false
          break;
        case 2:
          this.isConnected = true
          this.statusMsg = 'Closing ...'
          break;
        case 3:
          this.isConnected = false;
          this.statusMsg = ''
          this.disabled = false
          break;
        default:
          this.isConnected = false;
          this.statusMsg = ''
      }
    },
    sendCommand: function (cmd) {
      if (this.isConnected) this.commandConn.send(cmd)
      else throw new DOMException("Connection doesn't exist.")

    }
  },
  created: function (){
    setInterval(this.updateStatus, 100);
  }
}
</script>

<style scoped>

</style>