<template>
  <div>
    <div v-bind:class="{active: index === gamepadIdx}" v-on:click="selectGamePad(index)" v-bind:key="index" v-for="(gamepad, index) in availableGamepads">
      {{gamepad !== null ? gamepad.id : null}}
    </div>
  </div>
</template>

<script>
export default {
  name: "GamePadController.vue",
  data: function() {
    return {
      gamepadIdx: null,
      xState: 0,
      yState: 0,
      mowerState: 0,
      gamepadSelected: false,
      availableGamepads: [],
      commandListener: null,
      X_ID: 0,
      O_ID: 1,
    }
  },
  methods: {
    clamp: function(num, min, max) {
      return num <= min ? min : num >= max ? max : num;
    },

    axisToMotor: function(x, y){
      const k = 1.0
      const r = this.clamp(y-x*k, -100, 100);
      const l = this.clamp(y+x*k, -100, 100)
      return [r, l]
    },

    refreshControllers(){
      this.availableGamepads = navigator.getGamepads();
    },


    selectGamePad(index){
      // remove old interval listener if exists
      // if (this.commandListener !== null) clearInterval(this.commandListener)
      this.gamepadIdx = index
      // this.gamepad = navigator.getGamepads()[index]
      // this.commandListener = setInterval(this.getGamepadState, 100);
    },

    getGamepadState: function() {
        if (this.gamepadIdx === null) return

        const gamepad = navigator.getGamepads()[this.gamepadIdx]

        // Escape if no gamepad was found
        if (!gamepad) {
            console.log('No gamepad found.');
            return;
        }

        if (gamepad.buttons[this.X_ID].pressed){
          // this.mowerMotorStart()
          this.mowerState = 1
        }

        if (gamepad.buttons[this.O_ID].pressed){
          // console.log("o in")
          // this.mowerMotorStop()
          this.mowerState = 0
        }

        // axis: 0 = left analog, left-right
        // axis: 1 = left analog, up-down
        const x = -parseFloat(gamepad.axes["0"]) * 100;
        const y = -(parseFloat(gamepad.axes["1"])) * 100;

        const [x1, y1] = this.axisToMotor(x, y);

        // prevent unnecessary data transfer
        if (x1 !== this.xState || y1 !== this.yState) {
          this.xState = x1;
          this.yState = y1;

          this.$emit('wheelStateChange', {leftMotorSpeed: x1, rightMotorSpeed: y1})
        }
    },
  },

  watch: {
    mowerState: function(val){
      this.$emit('mowerStateChange', val)
    }
  },

  created: function () {
    setInterval(this.refreshControllers, 100)
    setInterval(this.getGamepadState, 100)
  }
}
</script>

<style scoped>
.active {
  background-color: yellowgreen;
}
</style>