<template>
<div class="heartbeat-container">
  <div :key="index" v-for="(row, index) in heartbeat">{{row}}</div>
</div>
</template>

<script>

export default {
  name: "Heartbeat.vue",
  props: ['heartbeat'],
   data: function() {
    return {

    }
  },
  methods: {
    formatLogs: function(logs){
      // timestamp  | Level |
      logs = '';
      return logs;
    }
  },
  created: function () {
    this.formatLogs('{}')
  }
}
</script>

<style scoped>

</style>