<template>
  <div></div>
</template>

<script>
export default {
  name: "KeyboardController.vue",
  data: function(){
    return {
      xState: 0,
      yState: 0,
      mowerState: 0,
      direction: 0, // -1 backward, 0 neutral, 1 forward
      steer: 0, // -1 left, 0 neutral, 1 right,
    }
  },
  methods: {
    magnitudeFromState: function() {
      // neutral
      let x, y = [0, 0];
      if (this.direction === 0){
        [x, y] = [0, 0]
        // emit: (0,0)
        // this.$emit('wheelStateChange', {leftMotorSpeed: 0, rightMotorSpeed: 0})
        // return
      } else {
        // forward
        if (this.steer === 0){
          [x, y] = [this.direction, this.direction]
          // this.$emit('wheelStateChange', {leftMotorSpeed: this.direction, rightMotorSpeed: this.direction})
          // emit full forward (1,1)
        } else if (this.steer === -1){
          [x, y] = [0, this.direction]
          // this.$emit('wheelStateChange', {leftMotorSpeed: 0, rightMotorSpeed: this.direction})
          // emit left steer (0, 1)
        } else {
          [x, y] = [this.direction, 0]
          // emit right steer (1, 0)
        }
      }
      if (x !== this.xState || y !== this.yState){
        this.$emit('wheelStateChange', {leftMotorSpeed: x*100, rightMotorSpeed: y*100})
        this.xState = x
        this.yState = y
      }
      console.log(x, y)
    }

  },
  created: function () {
    window.onkeydown = (e) => {
      switch (e.key) {
        case 'ArrowDown':
        this.direction = -1;
        break;
        case 'ArrowUp':
          this.direction = 1;
        break;
        case 'ArrowLeft':
          this.steer = -1;
          break;
        case 'ArrowRight':
          this.steer = 1;
          break;
        case 'Shift':
          if (this.mowerState === 0) this.mowerState = 1
          else this.mowerState = 0
        break;
      }
    }


    window.addEventListener('keyup', (e) => {
      switch (e.key) {
        case 'ArrowDown':
          this.direction = 0;
          break;
          case 'ArrowUp':
            this.direction = 0;
          break;
          case 'ArrowLeft':
            this.steer = 0;
            break;
          case 'ArrowRight':
            this.steer = 0;
            break;
      }
    });

    setInterval(this.magnitudeFromState, 100)

  },
   watch: {
    mowerState: function(val){
      this.$emit('mowerStateChange', val)
    }
  },
}
</script>

<style scoped>

</style>