<template>
<div class="logs-container" ref="logBox">
  <div :key="index" class="one-row" v-for="(row, index) in formattedLogs"
  v-bind:style="{color: row._class}"
  >
   {{row.time}} {{row.message}}

  </div>
<!--  {{formatLogs}}-->
</div>
</template>

<script>

export default {
  name: "Logs.vue",
  props: ['logs'],
   data: function() {
    return {
      formattedLogs: [],
      level_color: {
        'DEBUG': 'blue',
        'INFO': 'green',
        'WARNING': 'yellow',
        'ERROR': 'red',
      }
    }
  },
  methods: {
    formatLogs: function(logs){
      // this.formattedLogs =  logs.reverse().map(e => {
      this.formattedLogs =  logs.map(e => {
        var data = e.split('|');
        let time = data[0].split(" ")[1].split(".")[0];
        let level = data[1].trim();
        let module = data[2].split("-")[0]
        let message = data[2].split("-")[1]
        return {
          time: time,
          level: level,
          module: module,
          message: message,
          _class: this.level_color[level]
        }
      })
    }
  },
  watch: {
    logs(val){
      this.formatLogs(val);
      // var container = this.$refs.msgContainer;
      //   container.scrollTop = container.scrollHeight + 120;
    }
  },
  computed: {
    // formatLogs: function () {
    //   return this.logs.forEach(function (e) {
    //         return e + "\n";
    //       }
    //   )
    //   // timestamp  | Level |
    // }
  },
  created: function () {
    // this.formatLogs('{}')
  }
}
</script>

<style scoped>
.logs-container{
  max-width: 1000px;
  box-shadow: 3px 4px 5px #b7b7b7;
  border-radius: 5px;
  background: rgba(212, 212, 212, 0.4);
  padding: 5px 5px 5px 15px;
  text-align: left;
  max-height: 450px;
  display: block;
  overflow-y: auto;
  font-size: 12px;
  margin: auto;
  /*font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
  font-family: "Fira Code";
}
.one-row{
  border-bottom: 1px rgba(217, 217, 217, 0.43) solid;
}
</style>