<template>
    <div id="app">
    <h2>Vue.js WebSocket Tutorial</h2>
      <input type="text" placeholder="command_name" v-model="cmd"/>
      <input type="text" placeholder="command_value" v-model="value"/>
    <button v-on:click="sendMessage(cmd, value)">Send Message</button>
<!--      <button v-on:click="forward()">Forward</button>-->
<!--      <button v-on:click="backward()">Backward</button>-->
<!--      <button v-on:click="stop()">Stop</button>-->
      {{this.axes}}
  </div>
</template>

<script>
export default {
  name: 'Connection',
  data: function() {
    return {
      speed: 80,
      cmd: "left_wheel_motor_forward_set_speed",
      value: "0.0",
      connection: null,
      axes: {},
      X_ID: 0,
      O_ID: 1,
      xState: 0,
      yState: 0
    }
  },
  methods: {
    // stop: function(){
    //   this.connection.send(JSON.stringify({left_wheel_motor_backward_set_speed: [0]}));
    //   this.connection.send(JSON.stringify({right_wheel_motor_backward_set_speed: [0]}));
    // },

    leftMotorSetSpeed: function (speed){
      if (speed >= 0) this.connection.send(JSON.stringify({left_wheel_motor_forward_set_speed: [speed]}));
      else this.connection.send(JSON.stringify({left_wheel_motor_backward_set_speed: [Math.abs(speed)]}));
    },

    rightMotorSetSpeed: function (speed){
      if (speed >= 0) this.connection.send(JSON.stringify({right_wheel_motor_forward_set_speed: [speed]}));
      else this.connection.send(JSON.stringify({right_wheel_motor_backward_set_speed: [Math.abs(speed)]}));
    },

    mowerMotorStart: function(){
      this.connection.send(JSON.stringify({mower_motor_run: []}));
    },

    mowerMotorStop: function(){
      this.connection.send(JSON.stringify({mower_motor_stop: []}));
    },

    // backward: function(speed){
    //   this.connection.send(JSON.stringify({left_wheel_motor_backward_set_speed: [speed]}));
    //   this.connection.send(JSON.stringify({right_wheel_motor_backward_set_speed: [speed]}));
    // },
    // forward: function(speed){
    //   this.connection.send(JSON.stringify({left_wheel_motor_forward_set_speed: [speed]}));
    //   this.connection.send(JSON.stringify({right_wheel_motor_forward_set_speed: [speed]}));
    // },
    sendMessage: function(cmd, value) {
      var payload = {[cmd]: [value]};
      console.log(payload);
      this.connection.send(JSON.stringify(payload));
    },

    // throttle_angle_to_thrust: function (r, theta) {
    //     // const theta = ((t + 180) % 360) - 180  // normalize value to [-180, 180)
    //     // r = Math.min(Math.max(0, r), 100)              // normalize value to [0, 100]
    //     const v_a = r * (45 - theta % 90) / 45          // falloff of main motor
    //     const v_b = Math.min(100, 2 * r + v_a, 2 * r - v_a)  // compensation of other motor
    //     if (theta < -90) return [-v_b, -v_a]
    //     if (theta < 0)   return [v_a, -v_b]
    //     if (theta < 90)  return [v_b, v_a]
    //   console.log("last")
    //     return [v_a, -v_b]
    // },

     clamp: function(num, min, max) {
      return num <= min ? min : num >= max ? max : num;
    },

    axisToMotor: function(x, y){
      const k = 1.0
      const r = this.clamp(y-x*k, -100, 100);
      const l = this.clamp(y+x*k, -100, 100)
      return [r, l]
    },

    isPressed: function({button: {pressed}}) {
        return !!pressed;
    },
  //
  //   cartesian2Polar: function (x, y) {
  //     const distance = Math.sqrt(x*x + y*y)
  //     const radians = Math.atan2(y,x) * (180/Math.PI)  //This takes y first
  //     return {distance: distance, radians: radians}
  // },

    getGamepadState: function() {
        // Returns up to 4 gamepads.
        const gamepads = navigator.getGamepads();

        // We take the first one, for simplicity
        const gamepad = gamepads[0];

        // Escape if no gamepad was found
        if (!gamepad) {
            console.log('No gamepad found.');
            return;
        }

        // Filter out only the buttons which are pressed
        // const pressedButtons = gamepad.buttons
        //     .map((button, id) => ({id, button}))
        //     .filter(this.isPressed);


        if (gamepad.buttons[this.X_ID].pressed){
          // console.log("x in", gamepad.buttons)
          this.mowerMotorStart()
        }

        if (gamepad.buttons[this.O_ID].pressed){
          // console.log("o in")
          this.mowerMotorStop()
        }

        // Print the pressed buttons to our HTML
        // for (const button of pressedButtons) {
            // console.log(`Button ${button.id} was pressed.`)
        // }

        // axis: 0 = left analog, left-right
        // axis: 1 = left analog, up-down
        const x = -parseFloat(gamepad.axes["0"]) * 100;
        const y = -(parseFloat(gamepad.axes["1"])) * 100;

        if (x === this.xState && y === this.yState) return
        else {
          this.xState = x;
          this.yState = y;
        }

        const m = this.axisToMotor(x, y)
      if (m[0] != 0)
      // console.log(x, y, m)

      this.leftMotorSetSpeed(m[0])
      this.rightMotorSetSpeed(m[1])

        // const r = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2))
        // const t = Math.atan2(y,x)
      // const out = this.cartesian2Polar(x, y)
      // if (out.distance != 0)
      // console.log(out, this.throttle_angle_to_thrust(out.distance, out.radians))
      // if (y >= 0) this.forward(y)
      // else this.backward(Math.abs(y))
        // console.log(`x = ${x} y = ${y}`)
    },
  },
  created: function() {
    // console.log("Starting connection to WebSocket Server")
    // console.log()
    // this.connection = new WebSocket("ws://localhost:8765")
    // this.connection = new WebSocket(`ws://${location.hostname}:8765`)


    // this.connection.onmessage = function(event) {
    //   console.log(event);
    // }
    //
    // this.connection.onopen = function(event) {
    //   console.log(event)
    //   console.log("Successfully connected to the echo websocket server...")
    // }

    // setInterval(this.getGamepadState, 100);

  }
}
</script>

