<template>
    <div id="app">
<!--      <video src="http://192.168.1.241:8081/stream.ogg"></video>-->
      <img name="main" id="main" border="0" width="1024" height="720" :src="streamURL">

      <ConnectionHandler ref="connectionHandler" />
      <GamePadController @wheelStateChange="updateWheels" @mowerStateChange="updateMower"/>
      <KeyboardController @wheelStateChange="updateWheels" @mowerStateChange="updateMower"/>
      <Logs :logs="logs"/>
      <Heartbeat :heartbeat="status" />
      <Button v-on:click="heartbeatEnabled = !heartbeatEnabled">Enable heartbeat</Button>
  </div>
</template>

<script>
// --usb --vid --width=320 --height=240 --rtsp --uri=rtsp://192.168.1.64:554/video.ogg --latency=0
import ConnectionHandler from "@/components/engine/ConnectionHandler";
import GamePadController from "@/components/engine/GamePadController";
import MotorController from "@/components/engine/MotorController";
import KeyboardController from "@/components/engine/KeyboardController";
import Heartbeat from "@/components/engine/Heartbeat";
import Logs from "@/components/engine/Logs";

export default {
  name: 'Home',
  components: {Logs, Heartbeat, ConnectionHandler, GamePadController, KeyboardController},

  data: function() {
    return {
      motorController: null,
      speedMultiplier: 1,
      status: [],
      logs: [],
      heartbeatEnabled: false,
      // streamURL: `http://${location.hostname}:8000/stream/`,
      streamURL: `http://${location.hostname}:8000/stream/`,
      // heartbeatSrc: `http://${location.hostname}:8000/heartbeat/`,
      // heartbeatURL: `http://10.0.0.1:8000/heartbeat/`
      // heartbeatURL: `http://192.168.1.241:8081/heartbeat/`
      // heartbeatURL: `http://192.168.1.241:8000/heartbeat/`
      heartbeatURL: `http://${location.hostname}:8000/heartbeat/`
    }
  },
  methods: {
    updateWheels: function(data) {
      // console.log(data)
      this.$refs.connectionHandler.sendCommand(this.motorController.getLeftMotorSetSpeedCmd(data.leftMotorSpeed*this.speedMultiplier))
      this.$refs.connectionHandler.sendCommand(this.motorController.getRightMotorSetSpeedCmd(data.rightMotorSpeed*this.speedMultiplier))
    },
    updateMower: function(data) {
      const cmd = parseInt(data) === 1 ? this.motorController.getMowerMotorStartCmd() : this.motorController.getMowerMotorStopCmd()
      this.$refs.connectionHandler.sendCommand(cmd)
    },

    getHeartbeat: function(){
      if (!this.heartbeatEnabled) return;
      this.axios.get(this.heartbeatURL).then((e) => {
        let data = JSON.parse(e.data);
        // console.log(data);
        this.status = data.arduino;
        this.logs = this.logs.concat(data.logs);
        // this.logs = data.logs;
      })
      //     .catch(function (error){
      //     error = 'No data';
      //     console.log(error)
      // })
    }
  },

  created: function() {
    this.motorController = new MotorController()
    setInterval(this.getHeartbeat, 500);
    // console.log("Starting connection to WebSocket Server")
    //
    // console.log()
    // // this.connection = new WebSocket("ws://localhost:8765")
    // this.connection = new WebSocket(`ws://${location.hostname}:8765`)
    //
    // this.connection.onmessage = function(event) {
    //   console.log(event);
    // }
    //
    // this.connection.onopen = function(event) {
    //   console.log(event)
    //   console.log("Successfully connected to the echo websocket server...")
    // }
    //
    // setInterval(this.getGamepadState, 100);

  }
}
</script>

